In [1]:
import pandas as pd
import os
from psycopg2 import connect
from munch import munchify
from yaml import safe_load

In [2]:
path = "../data/rfc_vs_4fgl_dr4.txt"

In [3]:
def cs(a, b):
    return (a - 1, b)

colspecs = [
    cs(1, 8),      # Bname
    cs(10, 19),    # Jname

    cs(22, 23),    # VLBI RA hour
    cs(25, 26),    # VLBI RA min
    cs(28, 36),    # VLBI RA sec

    cs(38, 38),    # VLBI Dec sign
    cs(39, 40),    # VLBI Dec deg
    cs(42, 43),    # VLBI Dec arcmin
    cs(45, 52),    # VLBI Dec arcsec

    cs(57, 73),    # Fermi name
    cs(76, 80),    # Nsig
    cs(84, 88),    # Dist (arcmin)
]


names = [
    "Bname", "Jname",
    "vlbi_ra_h", "vlbi_ra_m", "vlbi_ra_s",
    "vlbi_dec_sign", "vlbi_dec_deg", "vlbi_dec_arcmin", "vlbi_dec_arcsec",
    "fermi_name", "nsig", "dist_arcmin",
]

In [4]:
fermi = pd.read_fwf(
    path,
    colspecs=colspecs,
    names=names,
    comment="#",
    header=None
)

In [ ]:
def connect_db() -> pd.DataFrame:
    with open(os.getenv("CONFIG_PATH")) as f:
        cfg = munchify(safe_load(f))
    config_db = cfg.db
    cnx = connect(
        host=config_db.host,
        dbname=config_db.dbname,
        user=config_db.user,
        password=config_db.psswd,
    )
    query = "select distinct object_name, map_quality from maps_apr25_original;"
    maps = pd.read_sql(query, con=cnx)
    return maps

In [11]:
maps = connect_db()

/tmp/ipykernel_28150/109390898.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  maps = pd.read_sql(query, con=cnx)

In [12]:
maps.head()

  object_name  map_quality
0  J0450-1343            1
1  J2243+0716            1
2  J1813+0615            1
3  J1952+4508            1
4  J1414-0728            1