In [1]:
import pandas as pd
import os 
from yaml import safe_load
from munch import munchify

In [2]:
path = "../data/rfc_2025d_cat.txt"

In [3]:
def cs(a, b):
    return (a - 1, b)

colspecs = [
    cs(1, 14),     # Name (RFC source designator)
    cs(17, 24),    # Comnam (Common name)

    cs(27, 28),    # RAh (hours)
    cs(30, 31),    # RAm (minutes)
    cs(33, 41),    # RAs (seconds)

    cs(43, 43),    # DE- (sign)
    cs(44, 45),    # DEd (degrees)
    cs(47, 48),    # DEm (arcmin)
    cs(50, 57),    # DEs (arcsec)

    cs(60, 65),    # eRA (mas)
    cs(67, 72),    # eDE (mas)
    cs(76, 81),    # Corr

    cs(83, 89),    # Nobs
    cs(91, 96),    # Nsca
    cs(98, 102),   # Nses

    cs(105, 110),  # FsS
    cs(112, 117),  # FmS
    cs(119, 124),  # FlS

    cs(127, 132),  # FsC
    cs(134, 139),  # FmC
    cs(141, 146),  # FlC

    cs(149, 154),  # FsX
    cs(156, 161),  # FmX
    cs(163, 168),  # FlX

    cs(171, 176),  # FsU
    cs(178, 183),  # FmU
    cs(185, 190),  # FlU

    cs(193, 198),  # FsK
    cs(200, 205),  # FmK
    cs(207, 212),  # FlK

    cs(215, 222),  # MeaEpo
]

names = [
    "Name", "Comnam",
    "RAh", "RAm", "RAs",
    "DE_sign", "DEd", "DEm", "DEs",
    "eRA_mas", "eDE_mas", "Corr",
    "Nobs", "Nsca", "Nses",
    "FsS_Jy", "FmS_Jy", "FlS_Jy",
    "FsC_Jy", "FmC_Jy", "FlC_Jy",
    "FsX_Jy", "FmX_Jy", "FlX_Jy",
    "FsU_Jy", "FmU_Jy", "FlU_Jy",
    "FsK_Jy", "FmK_Jy", "FlK_Jy",
    "MeaEpo_yr",
]

In [7]:
vlbi = pd.read_fwf(
    path,
    colspecs=colspecs,
    names=names,
    comment="#",
    header=None
)
vlbi.head(2)

,Name,Comnam,RAh,RAm,RAs,DE_sign,DEd,DEm,DEs,eRA_mas,...,FsX_Jy,FmX_Jy,FlX_Jy,FsU_Jy,FmU_Jy,FlU_Jy,FsK_Jy,FmK_Jy,FlK_Jy,MeaEpo_yr
0,RFC J0000-0022,2357-006,0,0,1.659840,-,0,22,10.02331,1.26,...,0.039,0.023,0.018,-9.99,-9.99,-9.99,-9.99,-9.99,-9.99,2022.703
1,RFC J0000-1352,2357-141,0,0,3.124501,-,13,52,0.75152,1.99,...,0.019,0.014,0.015,-9.99,-9.99,-9.99,-9.99,-9.99,-9.99,2015.997

In [8]:
rfc_sources = vlbi.Name.apply(lambda x: x.split()[-1])

In [9]:
with open(os.getenv("CONFIG_PATH")) as f:
    cfg = munchify(safe_load(f))

sources_w_maps = os.listdir(cfg.fits_path)

In [16]:
sources_without_maps = list(set(rfc_sources).difference(set(sources_w_maps)))
print(sources_without_maps[:5], len(sources_without_maps), 21949 - 20498)

['J0908-4109', 'J0657-0559', 'J2355+5943', 'J0832-4846', 'J1419-5154'] 1490 1451